
html{font-family: Roboto;}

body{margin: 0;}

header h2 {font-size: 48px;
color: #F9FAF8;
font-weight: 900;}

header, footer{
    color:#E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 0 15% 100px 15%;
    background-color:#1F2937 ;
    
}

header p, header a {font-size: 18px;
    }

ul{list-style: none;
padding: 0;
display: flex;
gap: 15px;}


nav{display: flex;
padding: 20px 0;
margin-bottom: 50px;}

nav h3{margin: auto;
flex: 1}

.header-container{display: flex;
justify-content: space-between;}

.header-container-text{
    display: flex;
    flex-direction: column;
}

.header-container-text h2{
    width: 350px;
    margin: 0;
}

.header-container-text p{
    width: 400px;
    margin: 0;
}

.header-container-text button{
    width:100px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px 20px;
    color: #E5E7EB;
    border: none;
    margin: 10px 0;

}

.section-headline{display: flex;
justify-content: center;
align-items: center;
font-size: 36px;
font-weight: 700;
color: #1F2937;
}

.section-container{
    display: flex;
    justify-content: space-between;
    padding: 0 15% 100px 15%;
    flex-wrap: wrap;
}

.image-and-text{
    flex:0 1 200px;
    color:grey;
}

img {border-radius: 15px;}

.quote{
    display: flex;
    flex-direction: column;
    padding: 100px 15%;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
    color:#1F2937;
}

.quoter{align-self: flex-end;
margin: -20px 0 0 0;
font-weight: 700;
font-size: 24px;}

.call-to-action{display: flex;
margin: 5% 15%;
background-color: #3882F6;
justify-content: space-between;
padding: 3% 8%;
border-radius: 15px;}

.call-to-action h3 {color: white;
font-size: 32px;
margin: 0;}

.call-to-action p {
    margin: 0;
    color: lightgray;
}

.call-to-action button{
    border-color: white;
    color: white;
    padding: 0 35px;
    background-color: #3882F6;
    border-radius:10px;
    font-weight: 700;
    font-size: 18px;
}

footer{justify-content: center;
align-items: center;
padding: 1%}